.container {
    width:1000px; height:550px;border: 10px solid black; margin: 0 auto;
    padding: 5px;
    margin: 2px;
}
.col, .row {
    width:315px; height:275px;background-color: orchid; float: left;
    border: 0.1px solid blanchedalmond;
    padding: 5px;
    margin: 2px;
}
.row {
    height:170px; 
}

.buttons{
    background-color: cyan;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: auto;
    position: static bottom;
}

#work{
    background-color: blue;
    margin: 5px;
    color: white;
}

#loan {
    background-color: green;
}
 #bank {
    background-color: yellow;
 }
 #outstandingLoan{
    background-color: rgb(243, 32, 32);
    visibility: hidden;
 }
 #outstanding{
     visibility: hidden;
 }
 